/* colors */

/* background */
.background_dark {
    background-color: rgb(26, 26, 26);
}

/* nav bar */
.nav-light {
    background-color: rgb(28, 65, 158);
}

/* btn */
.bg-blue-btn-plus {
    background-color: rgb(12, 28, 92);
    border: none;
    box-shadow: inset;
}


/* format */

/* search box */
.searchbox {
    text-align: center;
    align-content: center;
    padding: 1%;
}

/* dynamic load */
.card {
    width: 255px;
    height: 100%;
    background: white;
    padding: .4em;
    border-radius: 6px;
    object-fit: contain;
}
table {
    width: 75%;
    border-radius: 10px;
    border-spacing: 40px;
}
img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
td{
    padding:1%;
    vertical-align: top;
}
.card-image {
    background-color: rgb(236, 236, 236);
    width: 100%;
    height: 60%;
    border-radius: 6px 6px 0 0;
}

.card-image:hover {
    transform: scale(1.1);
}

.category {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    color: rgb(63, 121, 230);
    padding: 10px 7px 0;
}

    .category:hover {
        cursor: pointer;
    }

.heading {
    font-weight: 600;
    color: rgb(88, 87, 87);
    padding: 7px;
}

    .heading:hover {
        cursor: pointer;
    }

.author {
    color: gray;
    font-weight: 400;
    font-size: 11px;
    padding-top: 20px;
}

.name {
    font-weight: 600;
}

.name:hover {
    cursor: pointer;
}





