<!DOCTYPE html>

<head>
    <title>Course Info - IBM Skills Enablement</title>
    <link rel="icon" type="image/png" href="../img/favicon.svg">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src='../js/app.js'></script>
    <script type="module" src='../js/course_info.js'></script>

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/course_info.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
</head>

<body class="bg-body-tertiary" data-bs-theme="light">
    <!-- NAVBAR -->
    <nav id="navbar" class="navbar navbar-expand-lg bg-body sticky-top fs-6">
        <div class="container content-wrapper">
            <a class="navbar-brand mx-3" href="#">
                <img src="../img/IBM_logo_black.svg" alt="Logo" height="30" class="d-inline-block align-text-top pe-2" id="img_ibm_logo">
                <img src="../img/skills_enablement_logo.svg" alt="Logo" height="30" class="d-inline-block align-text-top" id="img_se_logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto text-center">
                    <li class="nav-item mx-1">
                        <a href="homepage.html" class="nav-link fw-medium">
                            <i class="fa-solid fa-house-user me-1"></i>Home</a>
                    </li>
                    <li class="nav-item mx-1">
                        <a href="dashboard.html" class="nav-link fw-medium">
                            <i class="fa-solid fa-chart-line me-1"></i>Dashboard</a>
                    </li>
                    <li class="nav-item mx-1">
                        <a href="course_directory.html" class="nav-link fw-medium">
                            <i class="fas fa-list me-1"></i>Course Explorer</a>
                    </li>
                    <li class="nav-item dropdown fw-medium mx-1">
                        <a href="#" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-regular fa-user me-2"></i>Account</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#"><i class="fa-regular fa-id-card me-2"></i>Profile</a></li>
                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-gear me-2"></i>Settings</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-arrow-right-from-bracket me-2"></i>Log out</a></li>
                        </ul>
                    </li>
                    <li class="nav-item mx-3">
                        <div class="nav-link text-center dark-mode-toggle" id="dark-mode-toggle" onclick="toggleDarkMode()">
                            <i hidden class="fa-solid fa-lightbulb" id="btn_toggle_light"></i>
                            <i class="fa-solid fa-moon" id="btn_toggle_dark"></i>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- top section -->
    <section id="top-part" class="text-emphasis bg-subtle-blue px-3">
        <div class="container content-wrapper py-5">
            <!-- breadcrumbs -->
            <nav class="my-2" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item text-emphasis"><a href="#homepage.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="#course_directory">Course Directory</a></li>
                    <li data-key="Topic" class="info-text breadcrumb-item">Course Directory</li>
                    <li data-key="Title" class="info-text breadcrumb-item active" aria-current="page"></li>
                </ol>
            </nav>

            <div class="row gx-5">
                <div class="col col-12 col-lg-8 col-md-7">
                    <div class="my-2">
                        <h1 data-key="Title" class="info-text"></h1>
                    </div>
        
                    <div class="my-4">
                        <p data-key="Description" class="info-text fw-light fs-4"></p>
                    </div>
        
                    <div class="row my-4 gy-2">
                        <div class="col col-12 col-lg-3 d-grid">
                            <a data-key="Link" type="button" data-bs-theme="dark" class="info-link btn btn-lg btn-secondary bg-emphasis fw-semibold">Continue<i class="fa-solid fa-arrow-right-long ms-2"></i></a>
                        </div>
                        <div class="col col-12 col-sm-12 col-md-8 col-lg-6">
                            <div class="progress align-self-center" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="height: 46px">
                                <div class="progress-bar progress-bar-striped" style="width:75%"></div>
                                <div class="text-sm text-light fw-semibold" id="progress-percent">In progress: 0%</div>
                            </div>                              
                        </div>
                        <div class="col col-12 col-md-4 col-lg-3" id="test">
                            <div class="dropdown d-grid">
                                <button id="list-toggle" class="btn btn-lg btn-primary bg-dark-blue dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-plus me-1"></i>Add to list
                                </button>
                              
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Not started</a></li>
                                    <li><a class="dropdown-item" href="#">In progress</a></li>
                                    <li><a class="dropdown-item" href="#">Completed</a></li>
                                    <li><a class="dropdown-item" href="#">On hold</a></li>
                                </ul>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
                <div class="col col-12 col-lg-4 col-md-5 align-self-center">
                    <div class="card p-4">
                        <div class="row mx-1">
                            <p class="form-label fw-bold col-form-label col-sm-5"><i class="fa-solid fa-signal me-1"></i>Difficulty</p>
                            <div class="col-sm-7">
                                <p class="form-control-plaintext"><span data-key="Difficulty" class="info-text badge text-sm fw-medium text-bg-info"></span></p>
                            </div>
                        </div>
                        <div class="row mx-1">
                            <p class="form-label fw-bold col-form-label col-sm-5"><i class="fa-solid fa-tag me-1"></i>Cost</p>
                            <div class="col-sm-7">
                                <p class="form-control-plaintext"><span data-key="Cost" class="info-text badge text-sm fw-medium text-bg-success"></span></p>
                            </div>
                        </div>
                        <div class="row mx-1">
                            <p class="form-label fw-bold col-form-label col-sm-5"><i class="fa-solid fa-chalkboard-user me-1"></i>Pace</p>
                            <div class="col-sm-7">
                                <p class="form-control-plaintext"><span data-key="Pace" class="info-text badge text-sm fw-medium text-bg-secondary"></span></p>
                            </div>
                        </div>
                        <div class="row mx-1">
                            <p class="form-label fw-bold col-form-label col-sm-5"><i class="fa-solid fa-clock me-1"></i>Length</p>
                            <div class="col-sm-7">
                                <p class="form-control-plaintext"><span data-key="Length" class="info-text"></span> hours</p>
                            </div>
                        </div>
                        <div class="row mx-1">
                            <p class="form-label fw-bold col-form-label col-sm-5"><i class="fa-solid fa-star me-1"></i>Rating</p>
                            <div class="col-sm-7">
                                <p data-key="Rating" id="info-rating" class="form-control-plaintext"></p>
                            </div>
                        </div>
                        <div class="row mx-1">
                            <p class="form-label fw-bold col-form-label col-sm-5"><i class="fa-solid fa-certificate me-1"></i>Badge</p>
                            <div class="col-sm-7">
                                <a data-key="Badge" id="info-badge" class="info-link form-control-plaintext"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- bottom section  -->
    <section id="bottom-section" class="px-3">
        <div class="container content-wrapper py-5">
            <div class="row">
                <div class="col-3 col-md-4">
                    <div class="sticky-top sticky-offset" id="long-content-nav">
                    </div>
                </div>
              
                <div class="col col-md-8" id="long-content-div">
                </div>
            </div>
              
        </div>
    </section>

    <!-- FOOTER -->
    <section id="footer" class="bg-body mt-4">
        <div class="container content-wrapper">
            <footer class="py-4">
                <p class="text-center text-muted fw-semibold">© 2023 Group 7</p>
            </footer>
        </div>
    </section>

</body>