<!DOCTYPE html>

<head>
    <title>Dashboard - IBM Skills Enablement</title>
    <link rel="icon" type="image/png" href="../img/favicon.svg">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <script src='../js/app.js'></script>

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
</head>

<body class="bg-body-tertiary" data-bs-theme="light">
    <!-- NAVBAR -->
    <nav id="navbar" class="navbar navbar-expand-lg bg-body sticky-top fs-6">
        <div class="container content-wrapper">
            <a class="navbar-brand mx-3" href="#">
                <img src="../img/IBM_logo_black.svg" alt="Logo" height="30" class="d-inline-block align-text-top pe-2" id="img_ibm_logo">
                <img src="../img/skills_enablement_logo.svg" alt="Logo" height="30" class="d-inline-block align-text-top" id="img_se_logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto text-center">
                    <li class="nav-item mx-1">
                        <a href="homepage.html" class="nav-link fw-medium">
                            <i class="fa-solid fa-house-user me-1"></i>Home</a>
                    </li>
                    <li class="nav-item mx-1">
                        <a href="dashboard.html" class="nav-link active fw-medium">
                            <i class="fa-solid fa-chart-line me-1"></i>Dashboard</a>
                    </li>
                    <li class="nav-item mx-1">
                        <a href="course_directory.html" class="nav-link fw-medium">
                            <i class="fas fa-list me-1"></i>Course Explorer</a>
                    </li>
                    <li class="nav-item dropdown fw-medium mx-1">
                        <a href="#" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-regular fa-user me-2"></i>Account</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#"><i class="fa-regular fa-id-card me-2"></i>Profile</a></li>
                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-gear me-2"></i>Settings</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-arrow-right-from-bracket me-2"></i>Log out</a></li>
                        </ul>
                    </li>
                    <li class="nav-item mx-3">
                        <div class="nav-link text-center dark-mode-toggle" id="dark-mode-toggle" onclick="toggleDarkMode()">
                            <i hidden class="fa-solid fa-lightbulb" id="btn_toggle_light"></i>
                            <i class="fa-solid fa-moon" id="btn_toggle_dark"></i>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- MAIN BODY -->
    <div class="container content-wrapper mt-4 py-2 px-4">
        <div class="row row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4 mb-3">
            <div class="col">
                <div class="accordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header filter-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse0" aria-expanded="true" aria-controls="panelsStayOpen-collapse0">
                                <h5 class="card-title">Not started</h5>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapse0" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading0">
                            <div id="list-0" class="card-course-list accordion-body">
                                <div id="info-0" class="card h-100 shadow-sm text-decoration-none mb-2">
                                    <div>
                                        <div id="bar0" class="rounded-0 rounded-top progress align-self-center" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="height: 10px">
                                            <div id="prog0" class="progress-bar progress-bar-striped" style="width:0%"></div>
                                        </div>
                                    </div>
                                    <a href="http://127.0.0.1:3000/views/course_info.html?id=001" class="text-decoration-none row align-items-center card-body pb-2">
                                        <div class="col-4 col-lg-12 col-xl-4 text-center">
                                            <img src="https://images.credly.com/images/a3939c8e-cb02-4341-8438-585c0d333673/AI_Foundations.png" class="thumbnail">
                                        </div>
                                        <div class="col-8 col-lg-12 col-xl-8">
                                            <h6 class="text-emphasis fw-bold my-1">AI Foundations</h6>
                                        </div>
                                    </a>
                                    <small class="text-muted mt-2">Artificial Intelligence</small>
                                    <input id="input0" data-orig="list-0" class="slider mt-1" type="range" min="0" max="100" step="1" value="0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="accordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header filter-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse1" aria-expanded="true" aria-controls="panelsStayOpen-collapse1">
                                <h5 class="card-title">In progress</h5>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapse1" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading1">
                            <div id="list-1" class="card-course-list accordion-body">
                                <div id="info-1" class="card h-100 shadow-sm text-decoration-none mb-2">
                                    
                                    <i class="fa-regular fa-circle-pause text-muted pause"></i>
                                    <i class="fa-regular fa-trash-can text-muted bin"></i>
                                    <div>
                                        <div id="bar1" class="rounded-0 rounded-top progress align-self-center" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="height: 10px">
                                            <div id="prog1" class="progress-bar progress-bar-striped" style="width:75%"></div>
                                        </div>
                                    </div>
                                    <a href="http://127.0.0.1:3000/views/course_info.html?id=006" class="text-decoration-none row align-items-center card-body pb-2">
                                        <div class="col-4 col-lg-12 col-xl-4 text-center">
                                            <img src="https://images.credly.com/images/82b908e1-fdcd-4785-9d32-97f11ccbcf08/image.png" class="thumbnail">
                                        </div>
                                        <div class="col-8 col-lg-12 col-xl-8">
                                            <h6 class="text-emphasis fw-bold my-1">Artificial Intelligence Fundamentals</h6>
                                        </div>
                                        <small class="text-muted mt-1">Artificial Intelligence</small>
                                    </a>
                                    <input id="input1" data-orig="list-1" class="slider mt-1" type="range" min="0" max="100" step="1" value="75" />
                                </div>
                                <div id="info-2" class="card h-100 shadow-sm text-decoration-none mb-2">
                                    <div>
                                        <div id="bar2" class="rounded-0 rounded-top progress align-self-center" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="height: 10px">
                                            <div id="prog2" class="progress-bar progress-bar-striped" style="width:60%"></div>
                                        </div>
                                    </div>
                                    <a href="http://127.0.0.1:3000/views/course_info.html?id=017" class="text-decoration-none row align-items-center card-body pb-2">
                                        <div class="col-4 col-lg-12 col-xl-4 text-center">
                                            <img src="https://images.credly.com/images/4e5341a0-031a-477d-a3c6-7a641e79dc2c/Hadoop_Data_Found_Level_1_-_CC_-_2019.png" class="thumbnail">
                                        </div>
                                        <div class="col-8 col-lg-12 col-xl-8">
                                            <h6 class="text-emphasis fw-bold my-1">Hadoop Foundations - Level 1</h6>
                                        </div>
                                        <small class="text-muted mt-1">Big Data</small>
                                    </a>
                                    <input id="input2" data-orig="list-1" class="slider mt-1" type="range" min="0" max="100" step="1" value="60" />
                                </div>
                                <div id="info-3" class="card h-100 shadow-sm text-decoration-none mb-2">
                                    <div>
                                        <div id="bar3" class="rounded-0 rounded-top progress align-self-center" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="height: 10px">
                                            <div id="prog3" class="progress-bar progress-bar-striped" style="width:50%"></div>
                                        </div>
                                    </div>
                                    <a href="http://127.0.0.1:3000/views/course_info.html?id=003" class="text-decoration-none row align-items-center card-body pb-2">
                                        <div class="col-4 col-lg-12 col-xl-4 text-center">
                                            <img src="https://images.credly.com/images/16d5a420-770b-4699-97ec-46708e3680c5/Big_Data_Found_Level_1_-_CC_-_2019.png" class="thumbnail">
                                        </div>
                                        <div class="col-8 col-lg-12 col-xl-8">
                                            <h6 class="text-emphasis fw-bold my-1">Big Data Foundations - Level 1</h6>
                                        </div>
                                        <small class="text-muted mt-1">Big Data</small>
                                    </a>
                                    <input id="input3" data-orig="list-1" class="slider mt-1" type="range" min="0" max="100" step="1" value="50" />
                                </div>
                                <div id="info-4" class="card h-100 shadow-sm text-decoration-none mb-2">
                                    <div>
                                        <div id="bar4" class="rounded-0 rounded-top progress align-self-center" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="height: 10px">
                                            <div id="prog4" class="progress-bar progress-bar-striped" style="width:20%"></div>
                                        </div>
                                    </div>
                                    <a href="http://127.0.0.1:3000/views/course_info.html?id=024" class="text-decoration-none row align-items-center card-body pb-2">
                                        <div class="col-4 col-lg-12 col-xl-4 text-center">
                                            <img src="https://images.credly.com/images/5ca7b236-6105-4154-ba22-c8ae12ec1d8c/Data_Sci_Found_Level_1_-_CC_-_2019.png" class="thumbnail">
                                        </div>
                                        <div class="col-8 col-lg-12 col-xl-8">
                                            <h6 class="text-emphasis fw-bold my-1">Data Science Foundations - Level 1</h6>
                                        </div>
                                        <small class="text-muted mt-1">Data Science</small>
                                    </a>
                                    <input id="input4" data-orig="list-1" class="slider mt-1" type="range" min="0" max="100" step="1" value="20" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="accordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header filter-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse2" aria-expanded="true" aria-controls="panelsStayOpen-collapse2">
                                <h5 class="card-title">Completed</h5>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapse2" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading2">
                            <div id="list-2" class="card-course-list accordion-body">
                                <div id="info-5" class="card h-100 shadow-sm text-decoration-none mb-2">
                                    <div>
                                        <div id="bar5" class="rounded-0 rounded-top progress align-self-center" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="height: 10px">
                                            <div id="prog5" class="progress-bar progress-bar-striped" style="width:100%"></div>
                                        </div>
                                    </div>
                                    <a href="http://127.0.0.1:3000/views/course_info.html?id=023" class="text-decoration-none row align-items-center card-body pb-2">
                                        <div class="col-4 col-lg-12 col-xl-4 text-center">
                                            <img src="https://images.credly.com/images/de9471ce-018c-4bf4-af49-5c9c1d488613/Data_Science_Tools.png" class="thumbnail">
                                        </div>
                                        <div class="col-8 col-lg-12 col-xl-8">
                                            <h6 class="text-emphasis fw-bold my-1">Data Visualization Using Python</h6>
                                        </div>
                                        <small class="text-muted mt-1">Data Science</small>
                                    </a>
                                    <input id="input5" data-orig="list-2" class="slider mt-1" type="range" min="0" max="100" step="1" value="100" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="accordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header filter-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse3" aria-expanded="true" aria-controls="panelsStayOpen-collapse3">
                                <h5 class="card-title">On hold</h5>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapse3" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading3">
                            <div id="list-3" class="card-course-list accordion-body">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <section id="footer" class="bg-body mt-4">
        <div class="container content-wrapper">
            <footer class="py-4">
                <p class="text-center text-muted fw-semibold">© 2023 Group 7</p>
            </footer>
        </div>
    </section>


</body>