<!DOCTYPE html>

<head>
    <title>Course Explorer - IBM Skills Enablement</title>
    <link rel="icon" type="image/png" href="../img/favicon.svg">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- JavaScript -->
    <script src="https://unpkg.com/vue@2.5.2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src='../js/app.js'></script>
    <script src='../js/course_directory.js'></script>

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
</head>

<body class="bg-body-tertiary" data-bs-theme="light">
    <!-- NAVBAR -->
    <nav id="navbar" class="navbar navbar-expand-lg bg-body sticky-top fs-6">
        <div class="container content-wrapper">
            <a class="navbar-brand mx-3" href="#">
                <img src="../img/IBM_logo_black.svg" alt="Logo" height="30" class="d-inline-block align-text-top pe-2" id="img_ibm_logo">
                <img src="../img/skills_enablement_logo.svg" alt="Logo" height="30" class="d-inline-block align-text-top" id="img_se_logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto text-center">
                    <li class="nav-item mx-1">
                        <a href="homepage.html" class="nav-link fw-medium">
                            <i class="fa-solid fa-house-user me-1"></i>Home</a>
                    </li>
                    <li class="nav-item mx-1">
                        <a href="dashboard.html" class="nav-link fw-medium">
                            <i class="fa-solid fa-chart-line me-1"></i>Dashboard</a>
                    </li>
                    <li class="nav-item mx-1">
                        <a href="course_directory.html" class="nav-link active fw-medium">
                            <i class="fas fa-list me-1"></i>Course Explorer</a>
                    </li>
                    <li class="nav-item dropdown fw-medium mx-1">
                        <a href="#" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-regular fa-user me-2"></i>Account</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#"><i class="fa-regular fa-id-card me-2"></i>Profile</a></li>
                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-gear me-2"></i>Settings</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-arrow-right-from-bracket me-2"></i>Log out</a></li>
                        </ul>
                    </li>
                    <li class="nav-item mx-3">
                        <div class="nav-link text-center dark-mode-toggle" id="dark-mode-toggle" onclick="toggleDarkMode()">
                            <i hidden class="fa-solid fa-lightbulb" id="btn_toggle_light"></i>
                            <i class="fa-solid fa-moon" id="btn_toggle_dark"></i>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- TOP SEARCH BAR -->
    <div id="content">
        <!-- Search -->
        <section id="search-section">
            <div class="container content-wrapper mt-4 py-2">
                <div class="row">
                    <div class="col-md-10 col-lg-8 mx-auto">
                        <form>
                            <div class="input-group search-bar">
                                <input type="text" class="form-control search-bar-input rounded-start-pill" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <button type="submit" class="btn btn-outline-success rounded-end-circle">
                                    <i class="fa-solid fa-magnifying-glass me-1"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- MAIN BODY -->
        <section id="main-body" class="my-2">
            <div class="container content-wrapper mt-4">
                <div class="row">
                    <div class="col-12 col-lg-3 col-md-4 col-sm-5 py-1" v-bind:hidden="!isFilterShowing">
                        <!-- //FILTERS SIDEBAR// -->
                        <div class="d-grid">
                            <button class="btn btn-primary bg-blue fw-semibold px-4" type="button" id="btn_hide_filters" onclick="hideFilters()"><i class="fa-solid fa-filter me-2"></i>Hide filters</button>
                        </div>
                        <div class="accordion mt-2" id="filter-list">
                            <div class="accordion-item">
                                <!-- //FILTER CATEGORY// -->
                                <h2 class="accordion-header filter-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse1" aria-expanded="true" aria-controls="panelsStayOpen-collapse1">
                                        Subject
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapse1" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading1">
                                    <div class="accordion-body">
                                        <input class="form-check-input me-1" onclick="updateFilter()" type="checkbox" name="field" value="Artificial intelligence" id="checkbox-f1c1">
                                        <label class="form-check-label" for="checkbox-f1c1">Artificial intelligence</label><br>
                                        <input class="form-check-input me-1" onclick="updateFilter()" type="checkbox" name="field" value="Cloud computing" id="checkbox-f1c2">
                                        <label class="form-check-label" for="checkbox-f1c2">Cloud computing</label><br>
                                        <input class="form-check-input me-1" onclick="updateFilter()" type="checkbox" name="field" value="Cyber security" id="checkbox-f1c3">
                                        <label class="form-check-label" for="checkbox-f1c3">Cyber security</label><br>
                                        <input class="form-check-input me-1" onclick="updateFilter()" type="checkbox" name="field" value="Data science" id="checkbox-f1c4">
                                        <label class="form-check-label" for="checkbox-f1c4">Data science</label><br>
                                        <input class="form-check-input me-1" onclick="updateFilter()" type="checkbox" name="field" value="Design thinking" id="checkbox-f1c5">
                                        <label class="form-check-label" for="checkbox-f1c5">Design thinking</label><br>
                                        <input class="form-check-input me-1" onclick="updateFilter()" type="checkbox" name="field" value="Quantum computing" id="checkbox-f1c6">
                                        <label class="form-check-label" for="checkbox-f1c6">Quantum computing</label><br>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <!-- //FILTER CATEGORY// -->
                                <h2 class="accordion-header filter-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse2" aria-expanded="true" aria-controls="panelsStayOpen-collapse2">
                                        Level
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapse2" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading2">
                                    <div class="accordion-body">
                                        <input class="form-check-input me-1" onclick="updateFilter()" name="level" type="checkbox" value="All levels" id="checkbox-f2c1">
                                        <label class="form-check-label" for="checkbox-f2c1">All levels</label><br>
                                        <input class="form-check-input me-1" onclick="updateFilter()" name="level" type="checkbox" value="Beginner" id="checkbox-f2c2">
                                        <label class="form-check-label" for="checkbox-f2c2">Beginner</label><br>
                                        <input class="form-check-input me-1" onclick="updateFilter()" name="level" type="checkbox" value="Intermediate" id="checkbox-f2c3">
                                        <label class="form-check-label" for="checkbox-f2c3">Intermediate</label><br>
                                        <input class="form-check-input me-1" onclick="updateFilter()" name="level" type="checkbox" value="Expert" id="checkbox-f2c4">
                                        <label class="form-check-label" for="checkbox-f2c4">Expert</label><br>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <!-- //FILTER CATEGORY// -->
                                <h2 class="accordion-header filter-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse3" aria-expanded="true" aria-controls="panelsStayOpen-collapse3">
                                        Features
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapse3" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading3">
                                    <div class="accordion-body">
                                        <input class="form-check-input me-1" onclick="updateFilter()" type="checkbox" name="feature" value="IBM badge" id="checkbox-f3c1">
                                        <label class="form-check-label" for="checkbox-f3c1">IBM badge</label><br>
                                        <input class="form-check-input me-1" onclick="updateFilter()" type="checkbox" name="feature" value="Self-paced" id="checkbox-f3c2">
                                        <label class="form-check-label" for="checkbox-f3c2">Self-paced</label><br>
                                        <input class="form-check-input me-1" onclick="updateFilter()" type="checkbox" name="feature" value="Subtitles" id="checkbox-f3c3">
                                        <label class="form-check-label" for="checkbox-f3c3">Subtitles</label><br>
                                        <input class="form-check-input me-1" onclick="updateFilter()" type="checkbox" name="feature" value="Quizzes" id="checkbox-f3c4">
                                        <label class="form-check-label" for="checkbox-f3c4">Quizzes</label><br>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <!-- //FILTER CATEGORY// -->
                                <h2 class="accordion-header filter-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse4" aria-expanded="true" aria-controls="panelsStayOpen-collapse4">
                                        Rating
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapse4" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading4">
                                    <div class="accordion-body">
                                        <input class="form-check-input me-1" onclick="updateFilter()" name="rating" type="radio" value="All ratings" id="checkbox-f4c5">
                                        <label class="form-check-label" for="checkbox-f4c5">All ratings</label><br>
                                        <input class="form-check-input me-1" onclick="updateFilter()" name="rating" type="radio" value="4.5+" id="checkbox-f4c1">
                                        <label class="form-check-label" for="checkbox-f4c1">
                                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star-half-stroke"></i>
                                            4.5+
                                        </label><br>
                                        <input class="form-check-input me-1" onclick="updateFilter()" name="rating" type="radio" value="4.0+" id="checkbox-f4c2">
                                        <label class="form-check-label" for="checkbox-f4c2">
                                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i>
                                            4.0+
                                        </label><br>
                                        <input class="form-check-input me-1" onclick="updateFilter()" name="rating" type="radio" value="3.5+" id="checkbox-f4c3">
                                        <label class="form-check-label" for="checkbox-f4c3">
                                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star-half-stroke"></i><i class="fa-regular fa-star"></i>
                                            3.5+
                                        </label><br>
                                        <input class="form-check-input me-1" onclick="updateFilter()" name="rating" type="radio" value="3.0+" id="checkbox-f4c4">
                                        <label class="form-check-label" for="checkbox-f4c4">
                                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
                                            3.0+
                                        </label><br>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <!-- //FILTER CATEGORY// -->
                                <h2 class="accordion-header filter-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse5" aria-expanded="true" aria-controls="panelsStayOpen-collapse5">
                                        Price
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapse5" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading5">
                                    <div class="accordion-body">
                                        <input class="form-check-input me-1" type="checkbox" value="" id="checkbox-f5c1">
                                        <label class="form-check-label" for="checkbox-f5c1">Free</label><br>
                                        <input class="form-check-input me-1" type="checkbox" value="" id="checkbox-f5c2">
                                        <label class="form-check-label" for="checkbox-f5c2">Paid</label><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col" v-bind:class="isFilterShowing?courseCol_FilterShown:courseCol_FilterHidden">
                        <!-- //RIGHT HAND COLUMN// -->
                        <!-- //INFO OF SEARCH// -->
                        <div class="row">
                            <div class="col pb-2">
                                <h4>{{searched}}</h4>
                            </div>
                        </div>
                        <div class="row gy-3 gx-2 mb-3">
                            <div class="col col-12 col-lg-2 col-md-3 col-sm-4" v-bind:hidden="isFilterShowing">
                                <div class="d-grid">
                                    <button class="btn btn-primary bg-blue fw-semibold me-2" type="button" id="btn_show_filters" onclick="showFilters()"><i class="fa-solid fa-filter me-2"></i>Show filters</button>
                                </div>
                            </div>
                            <div class="col align-self-center">
                                <button type="button" v-for="tag in filtered" v-on:click="removefilter(tag)" v-bind:id="tag+'_'" class="btn btn-sm btn-outline-emphasis rounded-pill px-3 fw-medium">{{tag}}<i class="fa-solid fa-xmark ms-1"></i></button>
                                <button type="button" class="btn btn-sm btn-dark bg-blue2 rounded-pill px-3 fw-medium">Clear all</button>
                            </div>
                        </div>

                        <!-- //LIST OF COURSES// -->
                        <div class="row g-3 mb-3" v-bind:class="isFilterShowing?courseGrid_FilterShown:courseGrid_FilterHidden">
                            <!-- new course -->
                            <div v-for="course in courses" class="col">
                                <div class="card h-100">
                                    <img v-bind:src="course.imgsrc" class="card-img-top img-preview-crop" alt="Course image">
                                    <div class="card-header">
                                        <div v-if="course.rating % 1">
                                            {{course.rating}}<i v-for="i in course.rating-0.5" class="fa-solid fa-star ms-1"></i><i class="fa-regular fa-star-half-stroke me-1"></i>{{course.rated}}
                                        </div>
                                        <div v-else>
                                            <i v-for="i in course.rating" class="fa-solid fa-star ms-1"></i> {{course.rated}} have rated
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title fs-6 fw-bold">{{course.name}}</h5>
                                        <p class="card-text text-sm mb-2">{{course.description}}</p>
                                        <button type="button" data-bs-theme="dark" class="btn btn-secondary bg-emphasis fw-semibold text-sm mt-1" v-bind:onclick="'location.href=' + '&quot;' + course.link + '&quot;'">Explore<i class="fa-solid fa-arrow-right-long ms-2"></i></button>
                                    </div>
                                    <div class="card-footer">
                                        <span v-for="tag in course.tags" class="badge" v-bind:class="badgesMain[tag]"><i class="fa-solid me-1" v-bind:class="badgesSecond[tag]"></i>{{tag}}</span>
                                    </div>
                                </div>
                            </div>
                       
                        <!-- PAGINATION -->
                        <div class="row mt-4">
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- FOOTER -->
    <section id="footer" class="bg-body mt-4">
        <div class="container content-wrapper">
            <footer class="py-4">
                <p class="text-center text-muted fw-semibold">© 2023 Group 7</p>
            </footer>
        </div>
    </section>


</body>
