<!DOCTYPE html>

<head>
    <title>Home - IBM Skills Enablement</title>
    <link rel="icon" type="image/png" href="favicon.png">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <script src='../js/app.js'></script>

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
</head>

<body class="bg-body-tertiary" data-bs-theme="light">
    <!-- NAVBAR -->
    <nav id="navbar" class="navbar navbar-expand-lg bg-body sticky-top fs-6">
        <div class="container content-wrapper">
            <a class="navbar-brand mx-3" href="#">
                <img src="../img/IBM_logo_black.svg" alt="Logo" height="30" class="d-inline-block align-text-top pe-2" id="img_ibm_logo">
                <img src="../img/skills_enablement_logo.svg" alt="Logo" height="30" class="d-inline-block align-text-top" id="img_se_logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto text-center">
                    <li class="nav-item mx-1">
                        <a href="homepage.html" class="nav-link fw-medium">
                            <i class="fa-solid fa-house-user me-1"></i>Home</a>
                    </li>
                    <li class="nav-item mx-1">
                        <a href="dashboard.html" class="nav-link fw-medium">
                            <i class="fa-solid fa-chart-line me-1"></i>Dashboard</a>
                    </li>
                    <li class="nav-item mx-1">
                        <a href="course_directory.html" class="nav-link fw-medium">
                            <i class="fas fa-list me-1"></i>Course Explorer</a>
                    </li>
                    <li class="nav-item dropdown fw-medium mx-1">
                        <a href="#" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-regular fa-user me-2"></i>Account</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#"><i class="fa-regular fa-id-card me-2"></i>Profile</a></li>
                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-gear me-2"></i>Settings</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-arrow-right-from-bracket me-2"></i>Log out</a></li>
                        </ul>
                    </li>
                    <li class="nav-item mx-3">
                        <div class="nav-link text-center dark-mode-toggle" id="dark-mode-toggle" onclick="toggleDarkMode()">
                            <i hidden class="fa-solid fa-lightbulb" id="btn_toggle_light"></i>
                            <i class="fa-solid fa-moon" id="btn_toggle_dark"></i>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- MAIN BODY -->
    <div class="container content-wrapper mt-4 py-2 px-4">
        <div class="row gx-5 gy-4">
            <div class="col col-lg-8">
                <!-- IN PROGRESS COURSES -->
                <div class="row">
                    <div class="card p-4">
                        <div class="row mb-3 mx-1">
                            <div class="col align-self-center"> <!-- TITLE -->
                                <h5 class="fw-bold mb-0">In progress courses</h5>
                            </div>
                            <div class="col align-self-center text-end"> <!-- LINK -->
                                <a href="dashboard.html" role="button" class="btn btn-sm btn-outline-primary btn-outline-blue fw-semibold me-2" type="button">Go to <span class="keeptogether">Dashboard<i class="fa-solid fa-angle-right ms-2"></i></span></a>
                            </div>
                        </div>
                        <div class="row"> <!-- COURSES PREVIEW -->
                            <div class="slider_wrapper">
                                <div class="splide">
                                    <div class="splide__track">
                                        <div class="splide__list">
                                            <div class="splide__slide">
                                                <a href="#test" class="card h-100 shadow-sm card-button text-decoration-none">
                                                    <div class="card-body">
                                                        <h6 class="card-title text-emphasis fw-bold">Artificial Intelligence Fundamentals</h6>
                                                        <small class="text-muted">Artificial Intelligence</small>
                                                        <p class="card-text mt-2"><span class="badge text-bg-info"><i class="fa-solid fa-signal me-1"></i>Beginner</span></p>
                                                    </div>
                                                </a>
                                            </div>
                    
                                            <div class="col-3 splide__slide">
                                                <div class="card h-100 shadow-sm card-button ">
                                                    <div class="card-body">
                                                        <h6 class="card-title"><a href="#" class="text-decoration-none text-emphasis stretched-link fw-bold">Blockchain - Getting Started</a></h6>
                                                        <small class="text-muted">Blockchain</small>
                                                        <p class="card-text mt-2"><span class="badge text-bg-info"><i class="fa-solid fa-signal me-1"></i>Beginner</span></p>
                                                    </div>
                                                </div>
                                            </div>
                    
                                            <div class="col-3 splide__slide">
                                                <div class="card h-100 shadow-sm card-button">
                                                    <div class="card-body">
                                                        <h6 class="card-title"><a href="#yoooo" class="text-decoration-none text-emphasis stretched-link fw-bold">Data Fundamentals</a></h6>
                                                        <small class="text-muted">Data Science</small>
                                                        <p class="card-text mt-2"><span class="badge text-bg-info"><i class="fa-solid fa-signal me-1"></i>Beginner</span></p>
                                                    </div>
                                                </div>
                                            </div>
                    
                                            <div class="col-sm-4 splide__slide">
                                                <div class="card h-100 shadow-sm card-button">
                                                    <div class="card-body">
                                                        <h6 class="card-title"><a href="#" class="text-decoration-none text-emphasis stretched-link fw-bold">Cybersecurity - Getting Started</a></h6>
                                                        <small class="text-muted">Cybersecurity</small>
                                                        <p class="card-text mt-2"><span class="badge text-bg-info"><i class="fa-solid fa-signal me-1"></i>Beginner</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- COURSE DIRECTORY -->
                <div class="row mt-4">
                    <div class="card p-4">
                        <div class="row mb-3 mx-1">
                            <div class="col align-self-center"> <!-- TITLE -->
                                <h5 class="fw-bold mb-0">Course Directory</h5>
                            </div>
                            <div class="col align-self-center text-end"> <!-- LINK -->
                                <a href="course_directory.html" role="button" class="btn btn-sm btn-outline-primary btn-outline-blue fw-semibold me-2" type="button">Course <span class="keeptogether">Directory<i class="fa-solid fa-angle-right ms-2"></i></span></a>
                            </div>
                        </div>
                        <div class="row row-cols-2 row-cols-md-3 g-3 mx-1"> <!-- CATEGORY LIST -->
                            <div class="col">
                                <a href="#test" class="card h-100 card-button text-decoration-none text-emphasis">
                                    <div class="card-body d-flex align-items-center justify-content-center">
                                        <div class="text-center">
                                            <p class="btn-icon"><i class="fa-solid fa-brain"></i></p>
                                            <p class="h6 fw-bold m-0">Artificial Intelligence</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col">
                                <a href="#test" class="col card h-100 card-button text-decoration-none text-emphasis">
                                    <div class="card-body d-flex align-items-center justify-content-center">
                                        <div class="text-center">
                                            <p class="btn-icon"><i class="fa-solid fa-database"></i></p>
                                            <p class="h6 fw-bold m-0">Data Science</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col">
                                <a href="#test" class="card h-100 card-button text-decoration-none text-emphasis">
                                    <div class="card-body d-flex align-items-center justify-content-center">
                                        <div class="text-center">
                                            <p class="btn-icon"><i class="ms-2 fa-solid fa-cubes"></i></p>
                                            <p class="h6 fw-bold m-0">Blockchain</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col">
                                <a href="#test" class="card h-100 card-button text-decoration-none text-emphasis">
                                    <div class="card-body d-flex align-items-center justify-content-center">
                                        <div class="text-center">
                                            <p class="btn-icon"><i class="ms-1 fa-solid fa-shield-virus"></i></p>
                                            <p class="h6 fw-bold m-0">Cyber Security</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col">
                                <a href="#test" class="card h-100 card-button text-decoration-none text-emphasis">
                                    <div class="card-body d-flex align-items-center justify-content-center">
                                        <div class="text-center">
                                            <p class="btn-icon"><i class="fa-solid fa-cloud"></i></p>
                                            <p class="h6 fw-bold m-0">Cloud Computing</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col">
                                <a href="#test" class="card h-100 card-button text-decoration-none text-emphasis">
                                    <div class="card-body d-flex align-items-center justify-content-center">
                                        <div class="text-center">
                                            <p class="btn-icon"><i class="fa-solid fa-list"></i></p>
                                            <p class="h6 fw-bold m-0">See All</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-lg-4">
                <!-- PROFILE -->
                <div class="row">
                    <div class="card p-3">
                        <div class="card-body text-center">
                            <img src="../img/user.svg" class="img-profile-crop border mb-2" alt="user placeholder">
                            <h5 class="mb-4">John Smith</h5>
                            <div class="row row-cols-3 text-center">
                                <div class="col">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="50" fill="currentColor" class="bi bi-trophy-fill" viewBox="0 0 16 16">
                                        <path d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935z"/>
                                    </svg>
                                    <p class="mb-0">0 badges</p>
                                </div>
                                <div class="col">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="50" fill="currentColor" class="bi bi-stars" viewBox="0 0 16 16">
                                        <path d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828l.645-1.937zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.734 1.734 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.734 1.734 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.734 1.734 0 0 0 3.407 2.31l.387-1.162zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L10.863.1z"/>
                                    </svg>
                                    <p class="mb-0">0 points</p>
                                </div>
                                <div class="col">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="50" fill="currentColor" class="bi bi-hourglass-split" viewBox="0 0 16 16">
                                        <path d="M2.5 15a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11zm2-13v1c0 .537.12 1.045.337 1.5h6.326c.216-.455.337-.963.337-1.5V2h-7zm3 6.35c0 .701-.478 1.236-1.011 1.492A3.5 3.5 0 0 0 4.5 13s.866-1.299 3-1.48V8.35zm1 0v3.17c2.134.181 3 1.48 3 1.48a3.5 3.5 0 0 0-1.989-3.158C8.978 9.586 8.5 9.052 8.5 8.351z"/>
                                    </svg>
                                    <p class="mb-0">0 hours</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- TROPHIES -->
                <div class="row mt-4">
                    <div class="card py-4 px-3">
                        <div class="row mb-3 mx-1">
                            <div class="col align-self-center"> <!-- TITLE -->
                                <h5 class="fw-bold mb-0">Trophies</h5>
                            </div>
                            <div class="col align-self-center text-end"> <!-- LINK -->
                                <a href="trophy_room.html" role="button" class="btn btn-sm btn-outline-primary btn-outline-blue fw-semibold me-2" type="button">Trophy <span class="keeptogether">Room<i class="fa-solid fa-angle-right ms-2"></i></span></a>
                            </div>
                        </div>
                        <div class="card-body py-1">
                            <p class="fw-semibold">Recently earned badges:</p>
                            <div class="row row-cols-3 text-center">
                                <div class="col">
                                    <img src="../img/Advanced_Certified_Emblem.png" class="img-badge-crop" alt="example badge">
                                    <p class="mb-0 mt-1">Badge example</p>
                                </div>
                                <div class="col">
                                    <img src="../img/Advanced_Certified_Emblem.png" class="img-badge-crop" alt="example badge">
                                    <p class="mb-0 mt-1">Badge example</p>
                                </div>
                                <div class="col">
                                    <img src="../img/Advanced_Certified_Emblem.png" class="img-badge-crop" alt="example badge">
                                    <p class="mb-0 mt-1">Badge example</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <section id="footer" class="bg-body mt-4">
        <div class="container content-wrapper">
            <footer class="py-4">
                <p class="text-center text-muted fw-semibold">© 2023 Group 7</p>
            </footer>
        </div>
    </section>


</body>