.card-course-list {
    max-height: 600px;
    min-height: 600px;
    overflow-y: scroll;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%; 
    background: #0444aa;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #528fc8;
    cursor: pointer;
}

.thumbnail {
    border-radius: 5%;
    overflow: hidden;
    width: 55px;
    height: 55px;
    background: no-repeat 50%;
    object-fit: cover;
}