:root, :root.light {
    --primary-blue: #0a58ca;
    --subtle-blue-bg: #cfe2ff;
    --primary-emphasis: #212529;
    --emphasis2: #212529;
    --emphasis-bg: #fff;

    --blue1: #00aeef;
    --blue2: rgb(17, 56, 97);
    --blue3: rgb(213, 226, 250);

    --img-filter-overlay: invert(7%) sepia(17%) saturate(488%) hue-rotate(168deg) brightness(93%) contrast(90%);
}
:root.dark{
    --primary-blue: #6ea8fe;
    --subtle-blue-bg: #031633;
    --primary-emphasis: #adb5bd;
    --emphasis2: #fff;
    --emphasis-bg: #212529;
    
    --blue2: #00aeef;
    --blue3: rgb(12, 28, 92);

    --img-filter-overlay: invert(97%) sepia(0%) saturate(6876%) hue-rotate(194deg) brightness(103%) contrast(94%);
}

.sticky-offset {
    top: 61px;
}

.content-wrapper {
    max-width: 1200px;
}

.text-sm {
    font-size: .875rem;
}

.bg-dark-blue {
    color: var(--emphasis-bg);
    background-color: var(--blue2);
    border: none;
}

.bg-blue {
    color: var(--primary-blue);
    background-color: var(--subtle-blue-bg);
    border-color: var(--primary-blue);
}

.bg-subtle-blue {
    
    background-color: var(--subtle-blue-bg);
}

.bg-emphasis {
    color: var(--emphasis-bg);
    background-color: var(--primary-emphasis);
    border: none;
}

.btn-outline-emphasis {
    border: 1px solid var(--primary-emphasis);
    color: var(--primary-emphasis);
}

.btn-outline-emphasis:hover {
    color: var(--emphasis-bg);
    background-color: var(--primary-emphasis);
}

body {
    font-family: 'Open Sans', sans-serif;
}

.scrollbar-container {
    height: 500px;
    overflow-y: scroll;
}

.fw-extrabold {
    font-weight: 800;
}

/* dark mode stuff */

.dark-mode-toggle {
    color: var(--blue1);
    cursor: pointer;
}

.search-bar-input {
    background-color: var(--emphasis-bg);
    height: 50px;
}

.img-scaler {
    max-width: 600px;
    width: 100%;
    height: auto;
}

.img-filter {
    filter: var(--img-filter-overlay);
}

.bg-blue2 {
    background-color: var(--blue1);
    border: none;
}

.bg-blue-3 {
    color: var(--primary-blue);
    background-color: var(--subtle-blue-bg);
    border: none;
}

.img-preview-crop {
    /* max-height: 100px; */
    overflow: hidden;
    object-fit: cover;
}

.btn-outline-blue {
    color: var(--primary-blue);
    border-color: var(--primary-blue);
}

span.keeptogether {
    white-space: nowrap ;
} 

@media screen{
    .slider_wrapper .splide {
        padding: 0 3.5rem;
    }
}

.text-emphasis {
    color: var(--primary-emphasis);
}

.text-emphasis-bg {
    color: var(--emphasis-bg);
}

.card-button:hover {
    background-color: var(--blue3);
    transition: 0.4s;
}

.btn-icon {
    font-size: 40px;
    margin-bottom: 0;
}

.img-profile-crop {
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.img-badge-crop {
    border-radius: 15px;
    overflow: hidden;
    max-width: 100px;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.is-dragging {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    background: rgb(50, 50, 50);
    color: white;
}

.card-course-list {
    display: flex;
    flex-direction: column;
    gap: 12px;

    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  
    padding: 12px;
    border-radius: 4px;
    min-height: 120px;
  
    flex-shrink: 0;
}
  
.task {
    background: white;
    color: black;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  
    padding: 12px;
    border-radius: 4px;
  
    font-size: 16px;
    cursor: move;
}